<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<link th:href="@{/css/reset.css}" href="../../static/css/reset.css" rel="stylesheet"></link>
<link th:href="@{/css/warehouse.css}" href="../../static/css/warehouse.css" rel="stylesheet"></link>
<title>在庫商品登録画面（完了）</title>
</head>
<body>
	<header>
		<h1>ぬる商事 倉庫</h1>
	</header>
	<form method="post" th:action="@{/inventory/stock_create/input}" th:object="${goodsCode}">
		<p>以下の商品コードの商品を在庫商品として登録しました。</p>
		<br/>
		<table>
			<tr>
				<th>商品コード</th>
				<td th:text="*{code}">100</td>
			</tr>
		</table>
		<div>
			<br/><input type="submit" value="了解" /><br/>
			<br/><a th:href="@{/inventory}">倉庫メニューへ</a>
		</div>
	</form>
	<footer>
		<address>Copyright(C)20xx ぬる商事 Allright Reserved.</address>
	</footer>
</body>
</html>
