<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link th:href="@{/css/reset.css}" href="../../static/css/reset.css"
	rel="stylesheet"></link>
<link th:href="@{/css/warehouse.css}"
	href="../../static/css/warehouse.css" rel="stylesheet"></link>
<title>在庫検索画面（入力）</title>
</head>
<body>
	<header>
		<h1>ぬる商事 倉庫</h1>
	</header>
	<form method="post" th:action="@{/inventory/stock_find/complete}"
		th:object="${goodsCode}">
		<div th:if="${errorCode != null}">
			<p th:text="#{${errorCode}}">エラー</p>
		</div>
		<div th:if="${#fields.hasErrors('*')}">
			<p th:each="err : ${#fields.errors('*')}" th:text="${err}">入力エラー</p>
		</div>
		<div>
			<ul>
				<li>
					<label>
						<span>商品コード</span>
						<input type="text" th:field="*{code}" />
					</label>
				</li>
			</ul>

			<br /><input type="submit" value="確認" /><br />
			<br /><a th:href="@{/inventory}">倉庫メニューへ</a>
		</div>
	</form>
	<footer>
		<address>Copyright(C)20xx ぬる商事 Allright Reserved.</address>
	</footer>
</body>
</html>
