<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<link th:href="@{/css/reset.css}" href="../../static/css/reset.css" rel="stylesheet"></link>
<link th:href="@{/css/warehouse.css}" href="../../static/css/warehouse.css" rel="stylesheet"></link>
<title>商品検索画面（完了）</title>
</head>
<body>
	<header>
		<h1>ぬる商事 本社</h1>
	</header>
	<form method="get" th:action="@{/goods/find/input}">
		<table>
			<tr>
				<th>商品コード</th>
				<td th:text="${goods.code}">100</td>
			</tr>
			<tr>
				<th>商品名</th>
				<td th:text="${goods.name}">鉛筆</td>
			</tr>
			<tr>
				<th>価格</th>
				<td th:text="${goods.price}">300</td>
			</tr>
		</table>
		<div>
			<br/><input type="submit" value="戻る" /><br/>
			<br/><a th:href="@{/goods}">本社メニューへ</a>
		</div>
	</form>
	<footer>
		<address>Copyright(C)20xx ぬる商事 Allright Reserved.</address>
	</footer>
</body>
</html>
